.article{
    height: 40rem !important;
    background: white !important;
    flex-wrap: nowrap !important;
}

.grid{
    height: 40rem !important;
}

.row{
    height: 40rem !important;
    padding: 0rem !important;
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: nowrap !important;
}

.leftCol{
    max-height: 40rem !important;
    padding: 0rem !important;
    display: flex !important;
    align-items: center !important;
    background: black !important;
    /* width:60%; */
    max-width: 100% !important;
    min-width: 0px !important;
}

.rightCol{
    width: 40% !important;
    padding: 0rem !important;
    box-sizing: border-box !important;
    min-width: 330px !important;
    max-width: 400px !important;
}

.postImage{
    max-height: 40rem !important;
    width: auto !important;
    object-fit: cover !important;
    width: 450px !important;
}

.profileSegmentInternal{
    width: calc(100% - 13px) !important;
    padding: .5rem !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    /* justify-content: space-around !important; */
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}

.verySmallImg{
    width:40px !important;
    height:40px !important;
}

.headerName{
    margin-left: 1rem !important;
    margin-top: 0rem !important;
}

.postMenu{
    margin-top: 0rem !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 0.3rem;
    width: 100% !important;
}

.postMenu > *::before{
    content:none !important;
}

.iconBtn{
    cursor: pointer;
    font-size: 1.8em !important;
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
}

.iconBtn:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.actionSegment{
    padding: 0rem !important;
    width: calc(100% - 14px) !important;
    margin-top: 0rem !important;
}

.likes{
    cursor: pointer;
    width: calc(100% - 14px) !important;
    text-align: left !important;
    padding-left: 1.3rem !important;
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.1rem !important;
}

.commentField{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.6rem;
}

.commentInput{
    width: 70%;
}

.commentInput input{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    border: none !important;
}

.commentSubmit{
    background-color: transparent !important;
    margin-left: 1rem !important;
    color:#0095F6 !important;
    padding: 0rem !important;
}

.commentForm{
    margin-top: 1rem;
}

.commentSegment{
    padding-top: 0.3rem !important;
    width: calc(100% - 13px) !important;
}

.commentsContainer{
    height: 60% !important;
    width: calc(100% - 14px) !important;
    /* padding: 7px !important;
    padding-top: 25px !important; */
    padding: 0rem 7px !important;
    outline: none !important;
}

.commentsContainer *{
    outline: none !important;
}

.likeBtn{
    color:red;
}

#likeOutline{
    color: rgba(0,0,0,.87) !important;
}

.saveBtn{
    color: black;
}

#savedOutline{
    color: rgba(0,0,0,.87) !important;
}

.commentsList::-webkit-scrollbar{
    width: 0px;
}

.showMore{
    color: black;
    position: relative;
    left: 55px;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.6 !important;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.showMore::before{
    content: '';
    width: 20px;
    border-bottom: 1px solid black;
    border-color: black;
    color: black;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 0.6 !important;
}

.rowContainer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.linkWithNoColor{
    opacity: 0.9 !important;
    color: rgba(0,0,0,.87) !important;
}

@media screen and (max-width:620px){
    .article{
        height: fit-content !important;
        background: none !important;
    }

    .grid{
        background: none !important;
    }

    .row{
        flex-direction: column !important;
    flex-flow: column !important;
    flex-basis: auto !important;
    flex-grow: unset !important;
    flex: auto !important;
    background: none !important;
    }

    .leftCol{
        width: calc(100% - 14px) !important;
        justify-content: center !important;
    }

    .rightCol{
        max-width: unset !important;
        width: 100% !important;
        min-width: unset !important;
        padding-bottom: 9rem !important;
        position: relative !important;
        top: -15px !important;
        margin-top: -10px !important;
    }

    .profileSegmentInternal{
        right: -0.3px !important;
        left: 1px !important;
        width: calc(100% - 14px) !important;
        border-top-right-radius: unset !important;
        border-top-left-radius: unset !important;
    }

    .commentsContainer{
        right: -1px !important;
    }

    .actionSegment{
        right: -1px !important;
    }

    .commentSegment{
        left: 1px !important;
         width: calc(100% - 14px) !important;
    }
}

.imagePlaceholder{
    width: 450px !important;
    max-width: 100% !important;
    height: 560px !important;
    max-height: 900px !important;
}

.removePostBtn{
    cursor: pointer;
    margin-left: auto !important;
}