/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.imagePlaceholder{
    width: 100% !important;
    max-width: 100% !important;
    height: 900px !important;
    max-height: 900px !important;
}

.profileSegmentInternal{
    padding: .5rem !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    /* justify-content: space-around !important; */
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}

.iconBtn{
    cursor: pointer;
    font-size: 1.8em !important;
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
}

.iconBtn:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.viewAllComments{
    margin-top: 0rem !important;
}

.commentUsername{
    font-weight: bolder;
    margin-right: .2rem !important;
}

.commentText{
    font-weight: 100 !important;
}

.description{
    margin-top: 0.1rem !important;
    margin-bottom: .5rem !important;
    color: rgb(55,55,55) !important;
}

.likes{
    margin-top: 0.2rem !important;
    margin-bottom: .5rem !important;
    color: rgb(55,55,55) !important;
}

.postMenu{
    padding: 0rem !important;
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.postMenu > *{
    padding: 0rem !important;
    border: none !important;
}

.postMenu > *::before{
    content:none !important;
}

.verySmallImg{
    width:40px !important;
    height:40px !important;
}

.imageContainer{
    margin-left: -2px !important;
    margin-top: -1px !important;
    margin-right: -2px !important;
    padding: 0px !important;
    max-height: 800px !important;
    padding-bottom: -1rem !important;
    border: 1px solid #d4d4d5 !important;
    box-sizing: border-box !important;
}

.headerName{
    margin-left: 1rem !important;
    margin-top: 0rem !important;
}

.bottomSegment{
    margin-top: -5px !important;
    padding: .7rem !important;
}

.container{
    margin-bottom: 5rem;
}

.image{
    max-width: 100%;
    width: 500000000px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 800px;
}

@media screen and (max-width:570px){
    .imageContainer{
        max-height: 700px !important;
    }

    .image{
        max-height: 700px !important;
    }
}

.commentField{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.6rem;
}

.commentInput{
    width: 70%;
}

.commentInput input{
    border: none !important;
}

.commentSubmit{
    background-color: transparent !important;
    margin-left: 1rem !important;
    color:#0095F6 !important;
}

.listWidthFull{
    width:100% !important;
}

.commentForm{
    margin-top: 1rem;
}