.container{
    position: fixed !important;
    z-index: 9999 !important;
}

.container,
.container *{
    outline: none !important;
}

.likes{
    font-weight: bold !important;
    color: rgb(51,51,51) !important;
    font-size: 16px !important;
}

.menu{
    border: none !important;
    box-shadow: none !important;
    height: 310px !important;
}

.closeIcon{
    cursor: pointer;
    position: absolute !important;
    font-size: 23px !important;
    right: 10px !important;
    top: 13px !important;
}

.likesList::-webkit-scrollbar{
    width: 0px;
}

#lowerDim{
    background: rgba(0,0,0,0.2) !important;
}

.noOtherLikes {
    position: absolute !important;
    color: black !important;
    width: 378px !important;
    height: 408px !important;
    z-index: 99999 !important;
    margin-top: 200px !important;
    font-size: 20px !important;
}