.itemContainer > *::before{
    content: none !important;
    display: none !important;
}

.verySmallImg{
    width: 30px !important;
    height: 30px !important;
    border-radius: 100% !important;
    margin-right: 10px !important;
}

.usernameRowLink {
    display: flex !important;
    color: rgb(33,33,33) !important;
    align-items: center;
}

.LinkContainer,.LinkContainer:hover{
    color: rgb(55,55,55);
}

.LinkContainerLogo ::before{
    content: none !important;
    display: none !important;
}

.logo{
    cursor: pointer;
    font-size:2.5rem;
    padding: .5rem 2rem !important;
    position: relative;
    bottom: -8px;
    border-left: none !important;
}

.iconBtn{
    cursor: pointer;
    transition-duration: 300ms;
}

.iconBtn:hover{
    transform: scale(1.2);
}

.searchBtn{
    display: none !important;
}

.searchBar{
    position: absolute;
    bottom: -4rem;
    width: 100%;
    padding: .7rem;
    margin-bottom: 2px !important;
    background: rgb(243,243,243);
}

.searchBar > *{
    margin-left: auto !important;
    margin-right: auto !important;

    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (min-width:620px){
    .searchBar{
        display: none !important;
    }
}

@media screen and (max-width:620px){
    .searchItem,.searchItem > div{
        display: none !important;
    }
    
    .searchBtn{
        display: block !important;
    }   

    .logo{
        bottom: -3px !important;
    }

    .LinkContainerLogo{
        width: 80px !important;
    }
}

@media screen and (max-width:440px){

    .logo{
        visibility: hidden;
        width: 5%;
    }

    .logo::after{
        color: white;
        content: "I";
        visibility: visible;
        display: block;
        position: absolute;

        margin-top: -3px;

        background: rgb(55,55,55);
        padding: .1rem .8rem;
        border-radius: 50%;
    }
}