/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.textArea{
    width:100% !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    font-size: large;
    resize: none;
}

.closeIcon{
    cursor: pointer;
    position: absolute !important;
    right: 10px !important;
    top:10px !important;
}

.header{
    margin-top: 0rem !important;
}