/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.fluidGrid {
    width: 100% !important;
}

.columnHeader{
    width:-webkit-fit-content !important;
    width:-moz-fit-content !important;
    width:fit-content !important;
}

.container{
    margin-top: 5rem !important;
}

.userRow{
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
}

.postsMenu{
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
}

.postsMenu::after{
    content: none !important;
}

.columnFit{
    width:-webkit-fit-content !important;
    width:-moz-fit-content !important;
    width:fit-content !important;
}

.username{
    font-weight: lighter !important;
}

.avatar{
    cursor: pointer;
    height: 150px !important;
    border: 2px solid rgb(100,100,100) !important;
}

.usernameColumn{
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.userSettingsBtns{
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.userSettingsBtns2{
    display: none;
}

@media screen and (max-width:758px){
    .userSettingsBtns{
        display: none !important;
    }

    .userSettingsBtns2{
        display: block;
    }

    .editBtn2{
        width: calc(100% - 3rem) !important;
    }

    .editBtn3{
        width: 100% !important;
    }
}

.stats2{
    display: none;
}

.stats{
    padding: 23px !important;
}

#fluidItems{
    width: 114% !important;
}

@media screen and (max-width:600px){
    .usernameColumn{
        width: 100% !important;
        margin-left: 1rem;
    }

    .fluidGrid{
        text-align: center !important;
    }

    .stats{
        display: none !important;
    }

    .stats2{
        display: flex;
        flex-direction: row !important;
    }

    .stats2 *{
        font-size: 0.8rem !important;
        text-align: center;
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
    }
}

#seccondColumn{
    max-width: 470px !important;
}

#noBorders{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:474px){
    #seccondColumn{
        width: 80% !important;
    }
    .columnFit{
        margin-top: -3rem !important;
        margin-bottom: 2rem !important;
    }
}

#fluidColumn:nth-child(1){
    cursor: initial !important;
}

#fluidColumn{
    cursor: pointer;
    width: 33% !important;
    text-align: left !important;
}

.centerContent{
    width: 100% !important;
}

.viewContainer{
    height: 100vh !important;
}

.vgridContainer{
    width: 100%;
    height: 50vh !important;
    border: none !important;
    box-sizing: none !important;
    box-shadow: none !important;
}

.vgrid{
    outline: none !important;
    align-content: center;
    display: flex;
    justify-content: center;
}

.vgrid::-webkit-scrollbar{
    width: 0px;
}


.noPosts{
    width: 100% !important;
    text-align: center !important;
    text-decoration-line: underline;
}