.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0;
    background: none;
    background: white;
}

@media screen and (max-height:620px){
    .container{
        height: initial;
        margin-top: 4rem;
        padding-top: 4rem !important;
        padding-bottom: 6rem !important;
    }
}