/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 !important;
    margin: 0;
    background: none;
    background: white;
}

@media screen and (max-height:620px){
    .container{
        height: initial;
        margin-top: 4rem;
        padding-top: 4rem !important;
        padding-bottom: 6rem !important;
    }
}