@font-face {
    font-family: "instagram-font";
    src: url("./fonts/Billabong.woff") format('woff');
}

html {
    height: 100vh;
    width: 100%;
}

body,.gradient-body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e9e9e7+0,d5d4d0+100 */
    background: #e9e9e7 fixed !important;  /* Old browsers */
    background: -moz-linear-gradient(top,  #e9e9e7 0%, #d5d4d0 100%) fixed !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e9e9e7 0%,#d5d4d0 100%) fixed !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e9e9e7 0%,#d5d4d0 100%) fixed !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e7', endColorstr='#d5d4d0',GradientType=0 ) fixed !important; /* IE6-9 */
}

.gradient-body-reversed{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e9e9e7+0,d5d4d0+100 */
    background: #e9e9e7 !important;  /* Old browsers */
    background: -moz-linear-gradient(top,  #d5d4d0 0%, #e9e9e7 100%) fixed !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d5d4d0 0%,#e9e9e7 100%) fixed !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d5d4d0 0%,#e9e9e7 100%) fixed !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e7', endColorstr='#d5d4d0',GradientType=0 ) fixed !important; /* IE6-9 */
}

.logo-text{
    font-family: instagram-font !important;
}